<header class="header">
  <div class="logo">
      <a href="#">고민하는 무민</a>
  </div>
  <nav>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
  <!-- 디지털시계( 7 segment ) , 날씨 -->
  <div id="clock">
    <div class="digit-wrapper">
      <div class="digit" id="digit-1"></div>
    </div>
    <div class="digit-wrapper">
      <div class="digit" id="digit-2"></div>
    </div>
    <div class="separator">:</div>
    <div class="digit-wrapper">
     <div class="digit" id="digit-3"></div>
    </div>
    <div class="digit-wrapper">
      <div class="digit" id="digit-4"></div>
    </div>
    <div class="separator">:</div>
    <div class="digit-wrapper">
      <div class="digit" id="digit-5"></div>
    </div>
    <div class="digit-wrapper">
      <div class="digit" id="digit-6"></div>
    </div>
    <div class="weather-wrapper">
      <span class="today-weather"></span>
    </div>
  </div>
</header>