<div class="sticky-title">
  <div class="project-carousel-wrapper">
    <div class="project-carousel-container">
      <div class="project-carousel-item" id="project-carousel-item1" style="background-color: aqua;"></div>
      <div class="project-carousel-item" id="project-carousel-item2" style="background-color: orange;"></div>
      <div class="project-carousel-item" id="project-carousel-item3" style="background-color: rgb(255, 226, 129);"></div>
      <div class="project-carousel-item" id="project-carousel-item4" style="background-color: rgb(59, 255, 141);"></div>
    </div>
    <div class="project-carousel-lbutton"></div>
    <div class="project-carousel-button-wrapper"> 
      <div class="project-carousel-button" id="project-carousel-button1"></div> 
      <div class="project-carousel-button" id="project-carousel-button2"></div> 
      <div class="project-carousel-button" id="project-carousel-button3"></div> 
      <div class="project-carousel-button" id="project-carousel-button4"></div>
    </div>
    <div class="project-carousel-rbutton"></div>
  </div>
</div>
