<!DOCTYPE html>
<html lang="ko">
  <%- include('partials/head')%>
<body>
  <%- include('partials/header-nav')%>
  <h1> here is 404 Shelter </h1>
  <hr>
  <a href="/">return to home</a>
  <%- include('partials/footer')%>
</body>
  <%- include('partials/tail')%>
</html>
