.stage-container{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover; 
    background-image: url(../source/red-curtain-bg.jpg);
    z-index: 1;
}
#showTime{ 
    width: 20vw;
    height: 10vh;
    left: 40vw;
    top: 30vw;
    color:  yellow;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    border: 10px dotted yellow;
    border-radius: 15%;
    background: none;
    z-index: 9;
    background-color: red;
    animation-name: twinkle-button;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes twinkle-button {
    0%{
        color: black;
        border: 10px dotted yellow;
    }
    25%{
        border: 10px dotted black;

    }
    50%{
        border: 10px dotted yellow;
        color: yellow;
    }
    75%{
        border: 10px dotted black;

    }
    100%{
        border: 10px dotted yellow;

    }
    
}
.stage-item{
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.stage-floor{
    width: 100%;
    height: 50%;
    top: 50%;
    background-position: center;
    background-image: url(../source/stage-floor.png);
    z-index: 2;
}
.curtain-ceil{
    width: 100%;
    height: 100%;
    background-image: url(../source/stage-curtain.png);
    z-index: 5;
}
.side-curtain-l{
    width: 50%;
    height: 100%;
    background-image: url(../source/red-curtain-bg.jpg);
    animation-name: open-the-curtain-l;
    animation-duration: 700ms;
    animation-delay: 300ms;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    z-index: 9;
}
.side-curtain-r{
    width: 50%;
    height: 100%;
    left: 50%;
    background-image: url(../source/red-curtain-bg.jpg);
    animation-name: open-the-curtain-r;
    animation-duration: 700ms;
    animation-delay: 300ms;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    z-index: 10;
}
@keyframes open-the-curtain-l {
    100%{
        translate: -50%;
    }
}
@keyframes open-the-curtain-r {
    100%{
        translate: 50%;
    }
}
.singer{
    width: 30%;
    height: 30%;
    bottom: 10%;
    right: 0%;
    background-image: url(../source/purin.webp);
    z-index: 3;
    background-size: contain;
    animation-name: advent-purin;
    animation-duration: 10000ms;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}
@keyframes advent-purin {
    4%{
        rotate: 30deg;
        translate: -7vw;

    }
    8%{
        rotate: -30deg;
        translate: -14vw;

    }
    12%{
        rotate: 30deg;
        translate: -21vw;

    }
    16%{
        rotate: -30deg;
        translate: -28vw;

    }
    20%{
        rotate: 0deg;
        translate: -35vw;
        transform: skew(0);
    }
    25%{
        translate: -35vw;
        transform: skew(15deg);
        transform-origin: bottom;

    }
    30%{
        translate: -35vw;
        transform: skew(0deg);
    }
    100%{
        translate: -35vw;

    }   
}
.dot-glass{
    width: 20vw;
    height: 20vh;
    left: 39%;
    background-image: url(../source/dot-glass.png);
    z-index: 4;
    animation-name: dot-glass-appear;
    animation-duration: 1000ms;
    animation-delay: 2500ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}
@keyframes dot-glass-appear {
    0%{
        transform: rotate(20deg);
    }
    100%{
        transform: rotate(20deg);
        translate: 0 67vh 0;
    }
}