/* Section, pages scrolling background title */
.sticky-title {
  width: 100%;
  height: 76vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5vh;
  font-weight: bold;
  text-align: center;
}

/* Wrapper to align and size the carousel */
.project-carousel-wrapper {
  width: 100%;
  height: 76vh;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: red;
}

/* Carousel implementation */
.project-carousel-container {
  width: 400vw;
  height: 100%;
  position: relative;
  display: flex;
  transition: 0.3s;
}

/* Definition of carousel items */
.project-carousel-item {
  width: 100vw;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
}
#project-carousel-item1{
  left: 0%;
}
#project-carousel-item2{
  left: 100%;
}
#project-carousel-item3{
  left: 200%;
}
#project-carousel-item4{
  left: 300%;
}

/* Carousel left and right move buttons */
.project-carousel-lbutton, .project-carousel-rbutton {
  width: 100px;
  height: 100%;
  position: absolute;
  cursor: pointer;
  top: 0;
  background-color: grey;
  opacity: 0;
}
.project-carousel-lbutton:hover, .project-carousel-rbutton:hover{
  opacity: 0.2;
}


.project-carousel-lbutton {
  left: 0px;
}
.project-carousel-rbutton {
  right: 0px;
}

/* Carousel bottom move buttons */
.project-carousel-button-wrapper {
  width: 100vw;
  height: 50px;
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 0px;
}

.project-carousel-button {
  width: 100px;
  height: 20px;
  background-color: rgb(214, 214, 214);
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  transition: 0.3s;
  opacity: 0.5;
}
